@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600;900&display=swap");
html {
  font-family: "Open Sans", sans-serif;
}

h1 {
  position: relative;
  font-family: "Montserrat";
  letter-spacing: 2px;
  font-weight: 900;
}

html a {
  text-decoration: none;
}

.blurred-button-container {
  display: grid;
  grid-template-columns: 30% auto 30%;
}

button {
  background: inherit;
  grid-column-start: 2;
  grid-column-end: 3;
  justify-self: center;
  padding: 15px 80px 3px 80px;
  background: inherit;
  border: 1px solid white;
  border-radius: 30px;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.slide__buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.slide__buttons .button__reglement {
  display: flex;
  justify-self: end;
  justify-content: space-between;
}
.slide__buttons .button__reglement img {
  transform: translate(-20px, -5px);
  width: 35px;
}

.bottom__button {
  display: flex;
  justify-self: center;
  justify-content: space-between;
}
.bottom__button img {
  transform: translate(-20px, -5px);
  width: 35px;
}

.gif {
  width: 170px;
  margin: 0 auto;
}
.gif img {
  text-align: center;
  width: 180px;
}

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#bar--white {
  background-color: #001d3d;
  width: 100%;
  height: 15px;
}

.cristal-balls {
  margin: -85px 0 -69px 0;
  display: grid;
  grid-template-columns: 17% 17% 17% 17% 17% 17%;
  justify-items: center;
}
.cristal-balls img {
  width: 150px;
}
.cristal-balls__re {
  grid-column-start: 2;
  grid-column-end: 3;
}
.cristal-balls__mad {
  grid-column-start: 3;
  grid-column-end: 4;
}
.cristal-balls__mau {
  grid-column-start: 4;
  grid-column-end: 5;
}
.cristal-balls__sa {
  grid-column-start: 5;
  grid-column-end: 6;
}

.bottom {
  width: 100%;
  background-image: linear-gradient(rgba(18, 4, 153, 0.5), rgba(255, 230, 4, 0.5)), url("../img/maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: red;
}

article {
  display: grid;
  column-gap: 50px;
  grid-template-columns: auto 25% 25% 25% auto;
  grid-template-rows: 150px 400px;
}

.box__tournament-RE {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../img/dbfz_wallpaper_dbfz-sangoku.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 65% bottom 75px;
  background-color: #003566;
  width: 100%;
  display: grid;
  height: 310px;
  grid-template-columns: 10px 30% auto 30% 10px;
  grid-template-rows: 10px 35% auto 10px;
  border-radius: 20px;
}
.box__tournament-RE img {
  width: 70px;
}
.box__tournament-RE > .logo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  display: grid;
}
.box__tournament-RE > .logo img {
  width: 100px;
  justify-self: center;
}
.box__tournament-RE > .flag {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  justify-self: end;
}
.box__tournament-RE > .infos {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #003566;
  margin: 0 -10px -10px -10px;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}
.box__tournament-RE--game {
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
}
.box__tournament-RE--location {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.box__tournament-RE--date {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 0 0 10px 0;
}
.box__tournament-RE--date i {
  margin: 0 5px 0 0;
}
.box__tournament-RE--rules {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.box__tournament-RE--rules i {
  margin: 0 10px 0 0;
}
.box__tournament-RE--rules .fa-gamepad {
  margin: 0 10px 0 15px;
}
.box__tournament-RE--state {
  font-size: 12px;
  color: white;
  border: 2px solid lime;
  width: 100px;
  margin: 10px 0px 20px 0;
  padding: 5px 0 5px 5px;
  border-radius: 20px;
}
.box__tournament-RE--state i {
  color: lime;
}

.box__tournament-MAD {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../img/dbfz_wallpaper_dbfz-sangoku.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 65% bottom 75px;
  background-color: #003566;
  width: 100%;
  display: grid;
  height: 310px;
  grid-template-columns: 10px 30% auto 30% 10px;
  grid-template-rows: 10px 35% auto 10px;
  border-radius: 20px;
}
.box__tournament-MAD img {
  width: 70px;
}
.box__tournament-MAD > .logo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  display: grid;
}
.box__tournament-MAD > .logo img {
  width: 100px;
  justify-self: center;
}
.box__tournament-MAD > .flag {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  justify-self: end;
}
.box__tournament-MAD > .infos {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #003566;
  margin: 0 -10px -10px -10px;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}
.box__tournament-MAD--game {
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
}
.box__tournament-MAD--location {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.box__tournament-MAD--date {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 0 0 10px 0;
}
.box__tournament-MAD--date i {
  margin: 0 5px 0 0;
}
.box__tournament-MAD--rules {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.box__tournament-MAD--rules i {
  margin: 0 10px 0 0;
}
.box__tournament-MAD--rules .fa-gamepad {
  margin: 0 10px 0 15px;
}
.box__tournament-MAD--state {
  font-size: 12px;
  color: white;
  border: 2px solid #ff660e;
  width: 120px;
  margin: 10px 0px 20px 0;
  padding: 5px 0 5px 5px;
  border-radius: 20px;
}
.box__tournament-MAD--state i {
  padding: 0 10px 0 0;
  color: #ff660e;
}

.box__tournament-SA {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  background-image: linear-gradient(rgba(0, 0, 255, 0.5), rgba(255, 255, 0, 0.5)), url("../img/dbfz_wallpaper_dbfz-sangoku.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right 65% bottom 75px;
  background-color: #003566;
  width: 100%;
  display: grid;
  height: 310px;
  grid-template-columns: 10px 30% auto 30% 10px;
  grid-template-rows: 10px 35% auto 10px;
  border-radius: 20px;
}
.box__tournament-SA img {
  width: 70px;
}
.box__tournament-SA > .logo {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  display: grid;
}
.box__tournament-SA > .logo img {
  width: 100px;
  justify-self: center;
}
.box__tournament-SA > .flag {
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: start;
  justify-self: end;
}
.box__tournament-SA > .infos {
  grid-column-start: 2;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  background-color: #003566;
  margin: 0 -10px -10px -10px;
  padding: 10px;
  border-radius: 0 0 20px 20px;
}
.box__tournament-SA--game {
  padding: 0 0 5px 0;
  text-transform: uppercase;
  font-weight: lighter;
  color: white;
}
.box__tournament-SA--location {
  color: white;
  font-weight: bold;
  font-size: 15px;
}
.box__tournament-SA--date {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding: 0 0 10px 0;
}
.box__tournament-SA--date i {
  margin: 0 5px 0 0;
}
.box__tournament-SA--rules {
  color: white;
  font-size: 15px;
  font-weight: bold;
}
.box__tournament-SA--rules i {
  margin: 0 10px 0 0;
}
.box__tournament-SA--rules .fa-gamepad {
  margin: 0 10px 0 15px;
}
.box__tournament-SA--state {
  font-size: 12px;
  color: white;
  border: 2px solid #ff660e;
  width: 120px;
  margin: 10px 0px 20px 0;
  padding: 5px 0 5px 5px;
  border-radius: 20px;
}
.box__tournament-SA--state i {
  padding: 0 10px 0 0;
  color: #ff660e;
}

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  padding: 10px 100px 10px 10px;
  transition: 0.8s;
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .logo {
  position: relative;
  float: left;
}
nav .logo img {
  margin: 100px 0 0 0;
  transition: 0.5s;
}

nav ul {
  float: right;
  margin: 10px 10px 10px 10px;
  padding: 0px;
  display: flex;
}

nav ul li {
  position: relative;
  list-style: none;
}

nav ul li a {
  position: relative;
  list-style: 80px;
  color: rgba(255, 255, 255, 0.548);
  padding: 15px 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.5s;
  letter-spacing: 2px;
}

nav ul li a.active, nav ul li a:hover {
  color: black;
  background-color: #f5cc00;
}

nav.sticky {
  background-color: #001d3d;
}

.logo__small img {
  animation-duration: 1s;
  animation-name: small-logo;
  animation-timing-function: ease-in-out;
  animation-iteration-count: normal;
  animation-fill-mode: both;
}

@keyframes small-logo {
  from {
    width: 200px;
  }
  to {
    width: 150px;
  }
}
footer {
  display: grid;
  grid-template-columns: 50px 4.9% auto auto auto 20% 50px;
  grid-template-rows: 100px 90px 10px;
  justify-items: center;
}
footer .footer__logo--shibunen {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: start;
}
footer .footer__logo--shibunen img {
  width: 55px;
}
footer .footer__logo--bandai {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: start;
}
footer .footer__logo--bandai img {
  width: 380px;
}
footer .bottom__menu {
  grid-column-start: 6;
  grid-column-end: 7;
  grid-row-start: 2;
  grid-row-end: 3;
  align-self: center;
  justify-self: end;
  color: white;
  display: grid;
}
footer .bottom__menu ol {
  width: 100%;
  display: flex;
}
footer .bottom__menu ol li, footer .bottom__menu ol a {
  color: white;
  margin-left: 10px;
  justify-content: space-between;
  flex-direction: row;
  list-style: none;
  text-decoration: none;
}

.slide {
  background: #001d3d;
  background-image: linear-gradient(rgba(239, 160, 11, 0.8), rgba(18, 4, 153, 0.5)), url("../img/background-slide.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: grid;
  grid-template-columns: 50px 1fr 1fr 50px;
  grid-template-rows: 150px auto auto 50px;
  justify-items: center;
  padding-bottom: 7em;
}
.slide__img {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 2;
  grid-row-end: 3;
}
.slide__img > img {
  width: 400px;
  margin: -60px 0 -10px 0;
}
.slide__title {
  z-index: 0;
  transition: 2s;
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
  align-self: center;
  justify-self: center;
  margin-top: -90px;
}
.slide__video {
  grid-column-start: 3;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  justify-self: center;
}
.slide__video iframe {
  box-shadow: 4px 4px 14px 4px;
}

h1 {
  font-size: 20px;
  color: #efa00b;
  text-transform: uppercase;
  margin: 45px 0 40px 0;
}

#indian-ocean {
  font-size: 80px;
  color: white;
}

#championship {
  font-size: 75px;
  color: #efa00b;
}

#title__dragonball {
  color: white;
}

body {
  background-color: #001d3d;
}

.tournament__title h2 {
  font-size: 140px;
  color: white;
  text-transform: uppercase;
  margin: -129px 0 -16px 10px;
}

tournament {
  display: grid;
  grid-template-columns: 150px 700px auto 400px 150px;
  grid-template-rows: 20px 45px auto 20px;
  gap: 40px;
  background-image: linear-gradient(rgba(239, 160, 11, 0.8), rgba(18, 4, 153, 0.5)), url("../img/maxresdefault.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.live__stream--title {
  grid-column-start: 2;
  grid-column-end: 4;
  grid-row-start: 3;
  grid-row-end: 4;
  width: 100%;
}
.live__stream--title h3 {
  font-size: 30px;
  color: #000814;
  text-transform: uppercase;
  margin: 0 0 20px 0;
  padding: 20px;
  background-color: #efa00b;
}

.live__stream--tournament {
  width: 100%;
  height: 450px;
  box-shadow: 4px 4px 14px 4px;
}

.grid__infos--classement > p {
  padding: 2px;
  border: 1px solid #000814;
  padding: 7px 9px 7px 10px;
}

#player__checkin {
  padding: 60px 0 0 20px;
  background-color: #003566;
  width: 100%;
}

.grid__player--title {
  text-transform: uppercase;
  color: white;
}

#output {
  padding: 20px 100px 80px 150px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 60px 15px;
  background-color: #003566;
}
#output p {
  justify-self: start;
  align-self: center;
  font-weight: bold;
  color: white;
}
#output img {
  align-self: end;
  align-self: end;
  border-right: 1px solid white;
  padding: 0 30px 0 0;
  align-self: center;
  width: 150px;
}

#grid__classement {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.grid__infos {
  color: #000814;
  grid-column-start: 4;
  grid-column-end: 5;
  grid-row-start: 3;
  grid-row-end: 4;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 40px 40px 40px auto;
  gap: 10px 5px;
  background-color: #efa00b;
  padding: 20px;
  box-shadow: 4px 4px 14px 4px;
  justify-self: center;
  align-self: center;
}
.grid__infos li {
  font-weight: bold;
  margin: 0 0 8px 0;
}
.grid__infos .label {
  font-weight: bold;
}
.grid__infos--reglement--text, .grid__infos--mode--text, .grid__infos--system--text {
  justify-self: start;
}

.banner {
  grid-column-start: 2;
  grid-column-end: 6;
  margin: 0 0 50px 0;
}
.banner h3 {
  font-size: 30px;
  color: white;
  text-transform: uppercase;
}
.banner h2 {
  font-size: 50px;
  color: white;
  text-transform: uppercase;
}
.banner .banner__title--yellow {
  color: #efa00b;
}
.banner p, .banner i {
  padding: 0 15px 0 0;
  font-size: 15px;
  color: #000814;
}

/*# sourceMappingURL=style.css.map */
