
.blurred-button-container {
    display: grid;
    grid-template-columns: 30% auto 30%;

}
button {
    background: inherit;
    grid-column-start: 2;
    grid-column-end:3;
    justify-self: center;
    padding:15px 80px 3px 80px;
    background: inherit;
    border: 1px solid white;
    border-radius:30px;
    color: white;
    font-size:20px;
    cursor: pointer;
   
}

.slide__buttons { 
    width: 100%;
    display: flex;
    justify-content: space-between;
    .button__reglement {
        display:flex;
        justify-self:end;  
        justify-content: space-between;
        
        img {
            transform: translate(-20px, -5px);
            width: 35px;
        }
 
    }
  
}
.bottom__button {
    
    display:flex;
        justify-self:center;  
        justify-content: space-between;
        
        img {
            transform: translate(-20px, -5px);
            width: 35px;
        }
}
.gif {
    width:170px;
    margin:0 auto;
    
    img {
        text-align: center;
        width:180px
    }
}
