@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;600;900&display=swap');

html {
    font-family: 'Open Sans',sans-serif;
}
h1 {
    
    font-family: 'Montserrat';
    letter-spacing:2px;
    font-weight: 900;  
    
}
html a {
    text-decoration:none;
}
p,li,span,h2,h3,h4{
    font-family: 'Montserrat';

 
}
li {
    list-style:none;
}