body {
    background-color:$color-bottom-box;
}
.tournament__title h2{
font-size:140px;
color:white;
text-transform: uppercase;
margin: -129px 0 -16px 10px;
}

tournament {
    display: grid;
    grid-template-columns: 40px auto auto 40px;
    grid-template-rows: 20px auto auto auto auto auto auto 20px;
    img {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start:2;
        grid-row-end:3;
       
        
    } 
}
.live__stream--title {
        grid-row-start:3;
        grid-row-end:4;
        > iframe {
            grid-row-start:4;
            grid-row-end:5; 
            background-color:red;
        }
}
.live__stream--infos{
    grid-row-start:4;
        grid-row-end:5;
}

