//color
$color-primary: #001d3d;
$color-secondary: #efa00b;
$color-button: #f5cc00;
$color-dark-blue:#000814;
$color-yellow: #cca000;
$color-top-menu:grey;
$color-top-box:rgb(255, 255, 255);
$color-bottom-box:#003566;
$color-live: rgb(0, 255, 0);
$color-loading: rgb(255, 102, 14);

//fonts
$font-logo: 'Open Sans', sans-serif;
$font-tilte : 'Open Sans', sans-serif;
$font-primary: 'Open Sans', sans-serif;
$font-secondary: 'Open Sans', sans-serif;

//shadow
$box-shadow: 4px 4px 14px 4px;